.form-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%;
    background-color: white;
  }

  .form__wrapper {
      border: 2px solid #E0E0E0;
      padding: 40px;
      border-radius: 10px;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  h2.order__header {
    font-family: "League Spartan";
    font-weight: bold;
    font-size: 40px;
    color: #7b10f4 !important;
    letter-spacing: -0.05em;
  }
  
  textarea,
  textarea::-webkit-input-placeholder {
    font-size: 14px;
    resize: both;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .contact-btn {
    opacity: 0.8;
  }
  
  .form-error-text {
    padding-top: 10%;
    font-size: 12px !important;
  }
  
  @media screen and (max-width: 800px) {
    .contact-header {
      font-weight: bold;
      font-size: 30px;
      background: #36D1DC;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #7b10f4, #B388FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7b10f4, #B388FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -0.05em;
    }
  
    img.main-img-form {
      display: flex;
      width: 100px !important;
      min-width: 250px !important;
      text-align: center;
    }
  
    .form-section {
      padding-top: 20%;
      padding-bottom: 20%;
    }
  
  }